/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}


/*Navbar elements*/
.navbar {
  background-color: rgba(253, 56, 115, 0.7);
  color: #244b12!important;
}

.navbar .navbar-brand {
  color: #244b12;
  font-weight: bold;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e14e4e;
}
.navbar .navbar-text {
  color: #244b12;
}
.navbar .navbar-text a {
  color: #e14e4e;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #e14e4e; 
}
.navbar .navbar-nav .nav-link {
  color: #244b12;
  font-weight: 600;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #e14e4e;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #e14e4e;
  background-color: #f5ff93;
}
.navbar .navbar-toggle {
  border-color: #f5ff93;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f5ff93;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #244b12;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #244b12;
}
.navbar .navbar-link {
  color: #244b12;
}
.navbar .navbar-link:hover {
  color: #e14e4e;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #6a38c7;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #244b12;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #244b12;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #244b12;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #244b12;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #e14e4e;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #e14e4e;
  background-color: #f5ff93;
}